<h3> Hello {{username}}</h3>

<img src="/images/gato-grunon.jpg" alt="cat">

<form action="/auth/private" method="GET">
  <button type="submit">Private</button>
</form>

<form action="/auth/login" method="GET">
  <button type="submit">Back</button>
</form>